html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
center,
u,
b,
i {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
:focus {
  outline: 0;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
input,
textarea {
  margin: 0;
  padding: 0;
}
.anti-alias {
  font-smooth: always;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
.comunArrows {
  width: 0;
  height: 0;
  position: relative;
  line-height: 0px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hide {
  display: none;
}
.color1 .logo {
  background-color: #e2a200;
}
.color1 .header {
  border-bottom-color: #e2a200;
}
.color1 .formStyle {
  border-top-color: #e2a200;
  border-bottom-color: #e2a200;
  background-color: #f4fbe5;
}
.color1 .thumbContainer {
  background-color: #f4fbe5;
  border-color: #e2a200;
}
.color1 .countryBox {
  border-top-color: #e2a200;
  border-bottom-color: #e2a200;
  background-color: #f4fbe5;
}
.color1 .ui-datepicker .ui-datepicker-header {
  background-color: #e2a200;
}
.color1 .ui-state-highlight,
.color1 .ui-widget-content .ui-state-highlight,
.color1 .ui-widget-header .ui-state-highlight {
  background-color: #f4fbe5;
}
.color1 .ui-widget-content {
  border-color: #e2a200;
}
.color1 .ui-datepicker-next span {
  width: 0;
  height: 0;
  position: relative;
  line-height: 0px;
  margin: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid #f4fbe5;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.color1 .ui-datepicker .ui-datepicker-next-hover span {
  border-left-color: #956b00;
}
.color1 .ui-datepicker-prev span {
  width: 0;
  height: 0;
  position: relative;
  line-height: 0px;
  margin: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid #f4fbe5;
  border-bottom: 5px solid transparent;
}
.color1 .ui-datepicker .ui-datepicker-prev-hover span {
  border-right-color: #956b00;
}
.color1 .ui-state-hover,
.color1 .ui-widget-content .ui-state-hover,
.color1 .ui-widget-header .ui-state-hover,
.color1 .ui-state-focus,
.color1 .ui-widget-content .ui-state-focus,
.color1 .ui-widget-header .ui-state-focus {
  color: #e2a200;
}
.color1 .ui-datepicker-trigger {
  background-color: #e2a200;
}
.color1 #formProject {
  border-bottom-color: #e2a200;
}
.color2 .logo {
  background-color: #3462c5;
}
.color2 .header {
  border-bottom-color: #3462c5;
}
.color2 .formStyle {
  border-top-color: #3462c5;
  border-bottom-color: #3462c5;
  background-color: #f4fbe5;
}
.color2 .thumbContainer {
  background-color: #f4fbe5;
  border-color: #3462c5;
}
.color2 .countryBox {
  border-top-color: #3462c5;
  border-bottom-color: #3462c5;
  background-color: #f4fbe5;
}
.color2 .ui-datepicker .ui-datepicker-header {
  background-color: #3462c5;
}
.color2 .ui-state-highlight,
.color2 .ui-widget-content .ui-state-highlight,
.color2 .ui-widget-header .ui-state-highlight {
  background-color: #f4fbe5;
}
.color2 .ui-widget-content {
  border-color: #3462c5;
}
.color2 .ui-datepicker-next span {
  width: 0;
  height: 0;
  position: relative;
  line-height: 0px;
  margin: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid #f4fbe5;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.color2 .ui-datepicker .ui-datepicker-next-hover span {
  border-left-color: #244488;
}
.color2 .ui-datepicker-prev span {
  width: 0;
  height: 0;
  position: relative;
  line-height: 0px;
  margin: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid #f4fbe5;
  border-bottom: 5px solid transparent;
}
.color2 .ui-datepicker .ui-datepicker-prev-hover span {
  border-right-color: #244488;
}
.color2 .ui-state-hover,
.color2 .ui-widget-content .ui-state-hover,
.color2 .ui-widget-header .ui-state-hover,
.color2 .ui-state-focus,
.color2 .ui-widget-content .ui-state-focus,
.color2 .ui-widget-header .ui-state-focus {
  color: #3462c5;
}
.color2 .ui-datepicker-trigger {
  background-color: #3462c5;
}
.color2 #formProject {
  border-bottom-color: #3462c5;
}
.color3 .logo {
  background-color: #c63272;
}
.color3 .header {
  border-bottom-color: #c63272;
}
.color3 .formStyle {
  border-top-color: #c63272;
  border-bottom-color: #c63272;
  background-color: #f4fbe5;
}
.color3 .thumbContainer {
  background-color: #f4fbe5;
  border-color: #c63272;
}
.color3 .countryBox {
  border-top-color: #c63272;
  border-bottom-color: #c63272;
  background-color: #f4fbe5;
}
.color3 .ui-datepicker .ui-datepicker-header {
  background-color: #c63272;
}
.color3 .ui-state-highlight,
.color3 .ui-widget-content .ui-state-highlight,
.color3 .ui-widget-header .ui-state-highlight {
  background-color: #f4fbe5;
}
.color3 .ui-widget-content {
  border-color: #c63272;
}
.color3 .ui-datepicker-next span {
  width: 0;
  height: 0;
  position: relative;
  line-height: 0px;
  margin: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid #f4fbe5;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.color3 .ui-datepicker .ui-datepicker-next-hover span {
  border-left-color: #89234f;
}
.color3 .ui-datepicker-prev span {
  width: 0;
  height: 0;
  position: relative;
  line-height: 0px;
  margin: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid #f4fbe5;
  border-bottom: 5px solid transparent;
}
.color3 .ui-datepicker .ui-datepicker-prev-hover span {
  border-right-color: #89234f;
}
.color3 .ui-state-hover,
.color3 .ui-widget-content .ui-state-hover,
.color3 .ui-widget-header .ui-state-hover,
.color3 .ui-state-focus,
.color3 .ui-widget-content .ui-state-focus,
.color3 .ui-widget-header .ui-state-focus {
  color: #c63272;
}
.color3 .ui-datepicker-trigger {
  background-color: #c63272;
}
.color3 #formProject {
  border-bottom-color: #c63272;
}
.color4 .logo {
  background-color: #7600d4;
}
.color4 .header {
  border-bottom-color: #7600d4;
}
.color4 .formStyle {
  border-top-color: #7600d4;
  border-bottom-color: #7600d4;
  background-color: #f4fbe5;
}
.color4 .thumbContainer {
  background-color: #f4fbe5;
  border-color: #7600d4;
}
.color4 .countryBox {
  border-top-color: #7600d4;
  border-bottom-color: #7600d4;
  background-color: #f4fbe5;
}
.color4 .ui-datepicker .ui-datepicker-header {
  background-color: #7600d4;
}
.color4 .ui-state-highlight,
.color4 .ui-widget-content .ui-state-highlight,
.color4 .ui-widget-header .ui-state-highlight {
  background-color: #f4fbe5;
}
.color4 .ui-widget-content {
  border-color: #7600d4;
}
.color4 .ui-datepicker-next span {
  width: 0;
  height: 0;
  position: relative;
  line-height: 0px;
  margin: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid #f4fbe5;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.color4 .ui-datepicker .ui-datepicker-next-hover span {
  border-left-color: #4b0088;
}
.color4 .ui-datepicker-prev span {
  width: 0;
  height: 0;
  position: relative;
  line-height: 0px;
  margin: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid #f4fbe5;
  border-bottom: 5px solid transparent;
}
.color4 .ui-datepicker .ui-datepicker-prev-hover span {
  border-right-color: #4b0088;
}
.color4 .ui-state-hover,
.color4 .ui-widget-content .ui-state-hover,
.color4 .ui-widget-header .ui-state-hover,
.color4 .ui-state-focus,
.color4 .ui-widget-content .ui-state-focus,
.color4 .ui-widget-header .ui-state-focus {
  color: #7600d4;
}
.color4 .ui-datepicker-trigger {
  background-color: #7600d4;
}
.color4 #formProject {
  border-bottom-color: #7600d4;
}
.color5 .logo {
  background-color: #8fd400;
}
.color5 .header {
  border-bottom-color: #8fd400;
}
.color5 .formStyle {
  border-top-color: #8fd400;
  border-bottom-color: #8fd400;
  background-color: #f4fbe5;
}
.color5 .thumbContainer {
  background-color: #f4fbe5;
  border-color: #8fd400;
}
.color5 .countryBox {
  border-top-color: #8fd400;
  border-bottom-color: #8fd400;
  background-color: #f4fbe5;
}
.color5 .ui-datepicker .ui-datepicker-header {
  background-color: #8fd400;
}
.color5 .ui-state-highlight,
.color5 .ui-widget-content .ui-state-highlight,
.color5 .ui-widget-header .ui-state-highlight {
  background-color: #f4fbe5;
}
.color5 .ui-widget-content {
  border-color: #8fd400;
}
.color5 .ui-datepicker-next span {
  width: 0;
  height: 0;
  position: relative;
  line-height: 0px;
  margin: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid #f4fbe5;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.color5 .ui-datepicker .ui-datepicker-next-hover span {
  border-left-color: #5b8800;
}
.color5 .ui-datepicker-prev span {
  width: 0;
  height: 0;
  position: relative;
  line-height: 0px;
  margin: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid #f4fbe5;
  border-bottom: 5px solid transparent;
}
.color5 .ui-datepicker .ui-datepicker-prev-hover span {
  border-right-color: #5b8800;
}
.color5 .ui-state-hover,
.color5 .ui-widget-content .ui-state-hover,
.color5 .ui-widget-header .ui-state-hover,
.color5 .ui-state-focus,
.color5 .ui-widget-content .ui-state-focus,
.color5 .ui-widget-header .ui-state-focus {
  color: #8fd400;
}
.color5 .ui-datepicker-trigger {
  background-color: #8fd400;
}
.color5 #formProject {
  border-bottom-color: #8fd400;
}
.font1Normal {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
}
.font1Bold {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
}
.font2Normal {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
}
.font2Bold {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
}
body {
  position: relative;
  color: #000000;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
a {
  color: #000000;
  text-decoration: underline;
}
h1 {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #818386;
}
h2 {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 16px;
}
h3 {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 14px;
}
p {
  color: #58595b;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
textarea {
  resize: none;
}
.button,
.NFI-button {
  background: #000000;
  color: #ffffff;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  padding: 9px 26px;
  border: 1px solid #000000;
  float: right;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.button:hover,
.NFI-button:hover {
  color: #000000;
  background: #ffffff;
}
.button:hover .arrowWhite.rightArrow,
.NFI-button:hover .arrowWhite.rightArrow {
  border-left-color: #000000;
}
.buttonSmall {
  background: #8fd400;
  color: #ffffff;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  padding: 3px 0px;
  border: 1px solid #000000;
  float: left;
  cursor: pointer;
  width: 80px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.buttonSmall:hover {
  color: #000000;
  background: #ffffff;
}
.buttonSmall:hover .arrowWhite.rightArrow {
  border-left-color: #000000;
}
.thumbContainer {
  display: inline-block;
  position: relative;
  float: left;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  width: 290px;
  height: 160px;
  overflow: hidden;
  text-align: center;
}
.thumbContainer:hover .over {
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity = 40);
  opacity: 0.4;
}
.thumbContainer img {
  height: 100%;
}
.thumbContainer .over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.thumbContainer .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.thumbContainer .categoria {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 86px;
  padding: 0 8px;
  color: #ffffff;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
}
.thumbContainer input {
  display: block;
  margin: 70px auto 0 auto;
}
#login {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#login .content {
  width: 380px;
  margin: 33% auto 0 auto;
  overflow: hidden;
  height: 100%;
}
#login .containerLogin {
  border-top: 2px solid #8fd400;
  border-bottom: 2px solid #8fd400;
}
#login #loginTools {
  padding: 30px 0;
  border-top: 1px solid #8fd400;
  border-bottom: 1px solid #8fd400;
  margin: 3px 0;
}
#login #errorLogin {
  margin-top: 10px;
}
#login #errorLogin p {
  color: red;
  font-size: 14px;
  line-height: 34px;
  height: 34px;
  display: inline-block;
}
#login #errorLogin .icon {
  float: left;
  display: inline-block;
  margin-right: 12px;
  width: 24px;
  height: 34px;
  background: url('../img/icons/error.png') no-repeat transparent left center;
}
#login h1 {
  padding-left: 180px;
  line-height: 80px;
  height: 80px;
  margin-bottom: 30px;
  background: url('../img/logoLogin.jpg') no-repeat 60px center transparent;
}
#login input {
  padding: 0 0 0 80px;
  width: 298px;
  border: 1px solid #000000;
  height: 33px;
  line-height: 33px;
  text-align: left;
}
#login input.error {
  border-color: red;
}
#login #loginButton {
  display: block;
  width: 380px;
  height: 56px;
  line-height: 56px;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  cursor: pointer;
}
#login #loginButton .arrowRight {
  width: 0;
  height: 0;
  position: relative;
  line-height: 0px;
  margin: 4px 0 0 6px;
  border-top: 6px solid transparent;
  border-left: 6px solid #ffffff;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  display: inline-block;
}
#login #userTools {
  background: url('../img/userLogin.jpg') no-repeat 20px center transparent;
  margin-bottom: 20px;
}
#login #passTools {
  background: url('../img/passLogin.jpg') no-repeat 20px center transparent;
  margin-bottom: 30px;
}
#wrapper {
  height: 100%;
  width: 960px;
  margin: 0 auto;
}
.headerContainer {
  padding: 40px 0;
  overflow: hidden;
}
.header {
  position: relative;
  overflow: hidden;
  padding-bottom: 44px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.header h1 {
  display: inline-block;
  width: 824px;
  float: left;
  color: #818386;
}
.header .menu {
  overflow: hidden;
  width: 824px;
  position: absolute;
  bottom: 44px;
  left: 136px;
}
.header .menu li {
  float: left;
  margin-right: 14px;
  min-width: 132px;
  padding-top: 12px;
  border-top: 1px solid #000000;
}
.header .menu li a {
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
}
.header .menu li:hover,
.header .menu li.active {
  border-top-width: 2px;
}
.header .menu li:hover a,
.header .menu li.active a {
  font-weight: 700;
}
.breadcrumb {
  margin-top: 14px;
  overflow: hidden;
  width: 100%;
}
.breadcrumb li {
  float: left;
  display: inline-block;
}
.breadcrumb li:after {
  content: '>>';
  padding: 0 3px;
}
.breadcrumb li:last-child:after {
  content: '';
  display: none;
}
.logo {
  width: 80px;
  height: 80px;
  display: inline-block;
  background: url('../img/logo.png') center center no-repeat;
  margin-right: 56px;
  float: left;
}
.content {
  position: relative;
}
.leftColum {
  width: 290px;
  display: inline-block;
  float: left;
  margin-right: 45px;
}
.columRight {
  width: 625px;
  display: inline-block;
  float: right;
  overflow: hidden;
}
.formStyle {
  overflow: hidden;
  position: relative;
  padding: 15px;
  margin-bottom: 40px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.formStyle input,
.formStyle select {
  display: block;
  padding: 3px;
  margin-bottom: 8px;
}
.formStyle select {
  width: 260px;
}
.formStyle input {
  width: 248px;
}
.listProjects {
  overflow: hidden;
  display: block;
  position: relative;
}
.listProjects li {
  overflow: hidden;
  display: block;
  position: relative;
  margin-bottom: 78px;
}
.listProjects li p {
  margin-bottom: 2px;
}
.listProjects .thumbContainer {
  margin-right: 45px;
}
.listProjects .dataContainer {
  padding-top: 11px;
  display: inline-block;
}
.listProjects .button {
  position: absolute;
  bottom: 12px;
  right: 1px;
}
.formBig {
  overflow: hidden;
  position: relative;
}
.formBig .cajaForm {
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
}
.formBig .cajaForm div {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  color: red;
  float: right;
  font-size: 80%;
}
.formBig p {
  float: left;
  display: inline-block;
  width: 170px;
  height: 25px;
  line-height: 25px;
}
.formBig .readOnly {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
}
.formInput {
  display: inline-block;
  float: right;
  width: 443px;
  border: 1px solid #000000;
  height: 23px;
  line-height: 23px;
  padding: 0 5px;
}
.formInput.error {
  border: 1px red solid;
}
.cajaInputs {
  float: left;
  width: 625px;
  display: inline-block;
}
.thumbCalendars {
  width: 292px;
  position: relative;
  float: right;
  display: inline-block;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
}
.thumbCalendars .thumbContainer {
  margin-bottom: 80px;
}
.NFI-wrapper {
  float: right;
  overflow: hidden;
  width: 455px;
  height: 25px;
  line-height: 25px;
}
.NFI-button {
  float: right;
}
.NFI-filename {
  float: left;
  width: 309px;
  padding: 0 5px;
  height: 23px;
  line-height: 23px;
  border: 1px solid #000000;
}
.buttonBigForm,
.fileNice .NFI-button {
  height: 23px;
  line-height: 23px;
  padding-top: 0;
  padding-bottom: 0;
}
.countries {
  width: 309px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.flag {
  float: left;
  display: inline-block;
  cursor: pointer;
  line-height: 0;
  margin: 0 5px 5px 0;
}
.flag img {
  border: 1px solid #58595b;
}
.dateStyle {
  height: 20px;
  line-height: 20px;
  border: 1px solid #000000;
  padding: 0 5px;
}
.calendars {
  display: block;
  float: right;
  position: relative;
  width: 292px;
}
.calendars p {
  font-size: 12px;
  width: auto;
}
.calendars input {
  width: 90px;
  float: right;
}
.calendars label {
  width: 140px;
  display: inline-block;
  position: relative;
}
.calendars label:first-child {
  margin-right: 7px;
}
.calendars .lineCalendars {
  margin-bottom: 12px;
}
.ui-datepicker {
  background-color: #ffffff;
}
.ui-datepicker-next span,
.ui-datepicker-prev span {
  top: 6px;
  cursor: pointer;
}
td.ui-datepicker-week-col {
  text-align: center;
  border-right: 1px solid #cacaca;
}
.ui-datepicker-trigger {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 1px;
  cursor: pointer;
}
#search .calendars {
  float: none;
  width: auto;
  overflow: hidden;
  margin-bottom: 9px;
}
#search .calendars label {
  width: 50%;
  margin: 0;
  float: left;
}
#search .calendars p {
  display: inline-block;
}
#search .calendars p.secondInput {
  padding-left: 7px;
}
#search .calendars input {
  padding: 0 0 0 3px;
}
#formProject {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 20px;
}
.countriesRights {
  padding: 28px 0;
  overflow: hidden;
  position: relative;
}
#addCountriesButton {
  float: left;
}
.countriesSelectContainer {
  margin-bottom: 30px;
  color: #58595b;
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
}
.countriesFormContainer {
  padding-top: 20px;
  margin-top: 30px;
  border-top: solid 1px grey;
}
.countriesFormContainer .actionRightsButtons .button {
  margin-right: 10px;
}
.countriesFormContainer .countryBox {
  height: 295px;
  width: 425px;
  padding: 15px 17px;
  margin-bottom: 42px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.countriesFormContainer .countryBox p {
  font-size: 14px;
}
.countriesFormContainer .countryBox .approveContainer p {
  font-size: 12px;
}
.countriesFormContainer .countryBox .longInput {
  width: 412px;
  margin-bottom: 10px;
}
.countriesFormContainer .countryBox .calendars {
  width: 425px;
}
.countriesFormContainer .countryBox .calendars label {
  width: 207px;
}
.countriesFormContainer .countryBox .calendars input {
  width: 126px;
}
.countriesFormContainer .countryBox .calendars p {
  float: left;
  line-height: 21px;
}
.countriesFormContainer .countryBox .filesCountries {
  overflow: hidden;
  width: 100%;
}
.countriesFormContainer .countryBox .filesCountries p,
.countriesFormContainer .countryBox .filesCountries input {
  margin-bottom: 15px;
}
.countriesFormContainer .countryBox .filesCountries div {
  overflow: hidden;
  position: relative;
}
.countriesFormContainer .countryBox .filesCountries .button {
  position: absolute;
  top: 5px;
  right: 0;
}
.countriesFormContainer .countryBox .fileUp {
  width: 203px;
  display: inline-block;
  float: left;
  padding-right: 34px;
  background-position: right center;
  background-repeat: no-repeat;
  height: 25px;
  line-height: 25px;
}
.countriesFormContainer .countryBox .fileUp.pdf {
  background-image: url('../img/icons/pdf.png');
}
.countriesFormContainer .countryBox .viewContainer {
  float: left;
  margin-bottom: 10px;
}
.countriesFormContainer .countryBox .approveContainer {
  display: inline-block;
  overflow: hidden;
  width: 120px;
  float: right;
}
.countriesFormContainer .countryBox .approveContainer input {
  display: inline-block;
  float: right;
}
.countriesFormContainer .countryBox .approveContainer p {
  display: inline-block;
}
.countriesFormContainer .countryBox .updateContainer {
  clear: both;
}
.countriesFormContainer .countryBox .updateContainer .buttonSmall {
  float: right;
}
.countriesFormContainer .countryBox .ok {
  display: inline-block;
  background: url('../img/icons/ok.jpg') no-repeat;
  width: 20px;
  height: 20px;
  float: right;
}
.generalData {
  margin-bottom: 45px;
}
.generalData label {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
}
.generalData p {
  width: 167px;
  float: left;
}
.generalInputBox {
  width: 456px;
  display: inline-block;
  float: left;
}
textarea.generalInputBox {
  height: 48px;
  width: 781px;
}
.detailsCountries {
  overflow: hidden;
  position: relative;
}
.arrowWhite {
  display: inline-block;
  width: 0;
  height: 0;
  position: relative;
  line-height: 0px;
  margin: 0 0 0 14px;
  border-top: 5px solid transparent;
  border-left: 5px solid #ffffff;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.categoria1 .categoria {
  background-color: #e2a200;
}
.categoria1 .icon {
  background-image: url('../img/play.png');
}
.categoria2 .categoria {
  background-color: #3462c5;
}
.categoria2 .icon {
  background-image: url('../img/plus.png');
}
.categoria3 .categoria {
  background-color: #c63272;
}
.categoria3 .icon {
  background-image: url('../img/play.png');
}
.categoria4 .categoria {
  background-color: #7600d4;
}
.categoria4 .icon {
  background-image: url('../img/plus.png');
}
.categoria5 .categoria {
  background-color: #8fd400;
}
